html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background-color: #2F3E4E;
}
.panel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: move;
  user-select: none;
}