html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}
.panel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: move;
  user-select: none;
  max-height: 90vh;
  overflow: scroll;
  min-width: 590px;
}

.hint {
  animation: fadeOutAndHide 3.5s forwards;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.info {
  background: #000;
  opacity: 1.0;
}

.icon-container {
  position: relative;
  display: inline-block;
  font-size: 42px;
  float: right;
  margin-right: 10px;
}

.tooltip {
  display: none;
  position: absolute;
  top: 50%; /* or adjust */
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.icon-container:hover .tooltip {
  display: block;
}

/* Keyframes: delay 3s, fade over 0.5s */
@keyframes fadeOutAndHide {
  0% {
    opacity: 1;
    display: block;
  }
  85.7% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}



input,
select,
button {
  max-width: 100%;
}
